html(lang="ru")
  head
    link(
      rel="stylesheet"
      type="text/css"
      href="../css/styles.css"
    )
    meta(
      name="viewport"
      content="width=device-width"
    )
    title
  body
    include ../components/header.block/block.pug
    .content
      block content
    include ../components/footer.block/block.pug
  script(
    type='text/javascript'
    src='../js/scripts.js'
  )
